/* HEADER */

a{

    text-decoration: none;
    text-transform: uppercase;
    color: darkblue;
    margin-left: center;
    
}

h1{

    text-align: center;
    color: darkred;

}

header {
    background-color: rgb(196, 204, 122);

}

li {

    list-style-type: none;
    display: inline-block;

}

/* MAIN */

main{

    background-color: rgb(168, 186, 245);
    background-size: auto;
}

h5{
    text-align: center;
    font-size: 12px;

}

.parrafo{

    text-align: center;
    font-size: 25px;

}

#menu{
    background-color: black;
}

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu ul li{
    display: inline-block;
}

#menu ul li a{
    color: white;
    display: block;
    padding: 20px 70px;
    text-decoration: none;
}

#menu ul li a:hover{
    background-color: #428881;

}


/* IMAGENES */

img{

    display: block;
    max-width: 100%;
    height: auto; 
}

.circular--square{
    border-radius: 50%;
}
  

footer {
    background-color: rgb(76, 150, 168);

}

h6{

    text-align: center;
    color: darkred;

 /* FORMULARIO CONTACTO */   

}
.form-header{
    font-size: 25px;
    text-align: center;
}
.form-register{
    width: 600px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
}
.form-register h3{
    font-size: 20px;
    margin-bottom: 20px;
}
.control{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}
.botons {
    width:100%;
    background: #1f53c5;
    border:none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}
.botons:hover{
    color: darkorange;
    text-decoration: dunderline;
}
@media (max-width: 480px) {
    form-register{
        width: 100%;
    }
}